venv/
__pycache__/
*.pyc
OUTPUT/
OUTPUT_BENCH/
OUTPUT_CHECKPOINT1M/
OUTPUT_SPECIES_TEST/
OUTPUT_SPECIES_TEST2/
OUTPUT_SWEEP/
geometry_cache/
geometry_cache_DNB/
geometry_cache_real/
DUMMY/
.pv_temp_script.py
build/
dist/
*.egg-info/
logs/
profile_*.log
prof_output_*.txt
DDBELLOW_STUDY/OUTPUT*/
3D_MODELS/
geometry_cache_test/
BEAM_CONFIGS/0_hnb_test_one_column.bl
InputFiles/
*.bl
*.xlsx
*.fld
*.dens
*.png
*.vtp
OUTPUT*/
CONFIGS/